.profile-nav, .profile-info{
    margin-top:30px;   
}
.profile-nav .user-heading {
    /* background: #ffdddd; */
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px 4px 0 0;
    padding: 20px;
    width: min-content;
    border: 1px solid #000000;
    text-align: center;
}
.profile-nav .profile-username {
    color: #000000;
    font-size: 20px;
    padding: 10px;
}

.profile-nav .user-heading img {
    width: 250px;
    height: 200px;
    border-radius: 10%;
    border: 1px solid #000000;
    object-fit: cover;
}
.profile-nav .profile-description {
    text-align: left;
    color: #777;
    font-size: 12px;
    padding: 10px;
}