.main{
    width: 550px;
    background-color: black;
    padding-left:0px;
    margin-bottom: 40 px;
    margin-top: 40 px;
}
.image{
    margin-left:0;
}
.icon{
    margin-left: 0;
    width:13rem;
    height:16.9rem;
}

.info{
    height: 16.9rem;
    position: absolute;
    text-align:'center';
    padding-left:3rem;
}
.title{
    color:white;
    text-align: center;
}
.text{
    color:white;
    text-align: center;
} 
.bottomElements{
    position: absolute;
    width: 90%;
    bottom: 5px;
}
.platforms
{ 
    float: left; 
}

.add{
    float: right;
}

.watch-card{
   width:16rem;
   height:27rem;
   border: 1px solid;
   overflow-y: scroll;
}
.watch-top{
    height:18%;
    background-color:#FFB5E2;
    border-bottom:1px solid;
}
.watch-component-title{
    text-align: center; 
}
.watch-showname{
    text-align: center;
}
.watch-form{
    margin-left: 20px;
    width: 65%;
    border-color: #FFB5E2;
    background-color: #FFB5E2;
   
}
.show-title{
    color:#FFB5E2;
}
/* .listname{
    text-align: center;
} */

/* .button-circle-bottom {

    padding: 1.3rem 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: 1px solid rgb(230, 230, 230);
    color: black;
    border-radius: 50%;
    background: #f18ecb;
    box-shadow:   inset 0 0 0 transparent, inset 0 0 0 transparent;
    transition: 0.1s ease-in-out;
}

.button-circle-bottom:hover {
    transform: scale(1.03);
    color: #f18ecb;
    box-shadow: inset 0 -5rem 4px lightblue, inset 0 0 0 transparent;
    border-color: #f18ecb;
} */
.button{
    min-height: 3rem;
    min-width: 2.5rem;
    border-radius: 50%; 
    background-color: #FFB5E2;
    border-color:#FFB5E2;
}
.button:hover{
    background-color: magenta;
    transition: 0.3s;
}
.remove-button{
    min-height: 3rem;
    min-width: 2.5rem;
    border-radius: 50%; 
    background-color: #4b48f0;
    border-color:#4b48f0;;
}
.remove-button:hover{
    background-color: red;
    transition: 0.3s;
}
.form-button{
  width: 40px;
  height: 40px;
  border-color: #FFB5E2;
  border-radius: 0%;
  color: white;
  background-color: #FFB5E2;

}
.form-button:hover{
    background-color: magenta;
    transition: 0.3s;
}