html {
  scroll-padding-top: 25px;
  overflow-y: hidden;
  zoom: .9; 
  -moz-transform: scale(.9); 
  -moz-transform-origin: 0 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar-brand {
  display: inline;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  cursor: pointer;
}

.navbar-brand a {
  font-size: 24pt;
  display: inline;
  color: white;
}

.navbar-brand a h1 {
  font-size: 24pt;
  display: inline;
  color: rgb(255, 0, 106);
}

.wrapper {
  padding: 10px;
}

/* li, a, button {
    color: #ffffff;
} */

a {
  color: #ffffff;
}
a:hover {
  color: violet;
  text-decoration: none;
}
.image--cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: violet;
  text-decoration: none;
}
.list_title {
  position: relative;
  z-index: 10;
  color: white;
  text-shadow: 1px 1px 10px black, 1px 1px 1px black;
}

.list_title.secondary {
  margin-top: 25px;
}
button {
  padding: 9px 25px;
  background-color: rgb(216, 192, 216, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(216, 192, 216, 0.5);
}

.content {
  padding: 115px 40px 0;
}

.list {
  padding-top: 10px;
  overflow-x: scroll;
  justify-content:start;
}

.secondary_list.list.watchlist {
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 50%;
}

.login_bck {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.login_bck label {
  margin-left: 10px;
}


/* For hiding scrollbars */
.list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}